@using KMOL.Web.Data;
@model IEnumerable<WebsiteInfo>
@{
    int j = 0;
}
@foreach (var website in Model)
{
    <div class="container">
        <div class="row">
            <div style="@(j==0?"":"margin-top:10px")" class="col-xs-6 line-breaker">@*@website.Name*@</div>
            <div style="@(j==0?"":"margin-top:10px")" class="col-xs-6 line-breaker text-right"><a href="#">View all <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></div>
            <div class="col-xs-12 wrap-product_@website.WebsiteId">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "http://kmol.com/api/datas/homeproducts?webid=@website.WebsiteId&pageindex=0&pagesize=12",
                type: "GET",
                contentType: "json",
                success: function (r) {
                    for (var i = 0; i < r.length; i++) {
                        var tm = $.templates("#template-product");
                        var html = tm.render(r);
                        $(".wrap-product_@website.WebsiteId.ToString()").html(html);
                    }
                    lazyLoad();
                }
            })
        })
    </script>
    j++;
}

@section scripts
{
    <script id="template-product" type="text/x-jsrender">
        <div class="product-item" title="{{:n}}">
            <a href="/detail/{{:id}}">
                <div class="p-picture">
                    <img class="lazy" data-original="{{:i}}" src="/contents/images/loading.gif" width="168" height="150" alt="{{:n}}" />
                </div>
            </a>
            <a href="/detail/{{:id}}">
                <div class="p-name">{{trimName:n}}</div>
            </a>
            <div class="p-price">{{formatPrice:p}}<sup><u>d</u></sup></div>
            {{if s}}
            <div class="p-sale">-{{:s}}%</div>
            {{/if}}
            {{if o}}
            <div class="p-old-price"><s>{{formatPrice:o}}<sup><u>d</u></sup></s></div>
            {{/if}}
        </div>
    </script>
    <script type="text/javascript">
        $.views.converters("trimName", function (val) { if (val.length > 40) return val.substring(0, 40) + "..."; else return val });
        $.views.converters("formatPrice", function (val) {
            return val.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
        });
    </script>
}
