<div class="container">
    <div class="row">
        <div class="col-xs-6 line-breaker">Desc</div>
        <div class="col-xs-6 line-breaker text-right"><a href="#">View all <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></div>
        <div class="col-xs-12 wrap-product">
            <div class="product-item" title="aaafasd">
                <a href="#">
                    <div class="p-picture">
                        <img src="contents/4.jpg" alt="aaa" />
                    </div>
                </a>
                <div class="p-name">this is shit like shit dog this is shit like shit dog</div>
                <div class="p-price">10.450.000 <sup><u>d</u></sup></div>
                <div class="p-sale">-30%</div>
                <div class="p-old-price"><s>60.000 <sup><u>d</u></sup></s></div>
                <div class="p-view text-center">
                    <button class="btn btn-default text-uppercase" style="padding:5px 20px"><small>Xem chi tiết</small></button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "http://kmol.com/api/datas/homeproducts?webid=2&pageindex=0&pagesize=12",
                type: "GET",
                contentType: "json",
                success:function(r)
                {
                    for (var i=0;i<r.length;i++)
                    {
                        $(".wrap-product").append(r[i].n);
                    }
                }
            })
        })
    </script>
}
