body 
{
    background-color:#ffffff;
}
a:link,a:hover,a:visited
{
    color:#000000;
    text-decoration:none;
}
.line-breaker a:link, .line-breaker a:hover,.line-breaker a:visited
{
    color:#ffffff;
    text-decoration:none;
}
.header-bg
{
    background-color:#0094ff;
}
.logo
{
    background-color:#ff0000;
    height:80px;
}
.search
{

}
#search-box
{
}
#button-search
{
    cursor:pointer;
    font-weight:bold;
}
.col-color
{
    height:100px;
}
.col-color-1
{
    background-color:#ff6a00;
}
.col-color-2
{
    background-color:#b6ff00;
}
.col-color-3
{
    background-color:#ffd800;
}
.line-breaker
{
    height:30px;
    background-color:#0094ff;
    font-weight:bold;
    color:#ffffff;
    line-height:30px;
    margin-bottom:10px;
}
.product-item {
    height: 275px;
    background-color: #ffffff;
    padding: 10px;
    float: left;
    width: 190px;
    cursor: pointer;
}
.product-item:hover
{
   border:solid 1px #c2bebe;
}
.wrap-product
{
    padding:5px 5px 5px 10px;
    margin-bottom:10px;
}
.footer-row-1
{
    background-color:#0094ff;
    height:200px;
}
.p-picture
{
    margin-bottom:5px;
}
.p-picture img
{
    width:168px;
}

.p-name
{
    margin-bottom:10px;
    height:40px;
}
.p-price
{
    display:inline-block;
    width:65%;
    font-weight:bold;
}
.p-sale
{
    display:inline-block;
    width:30%;
    background-color:#ff0000;
    color:#ffffff;
    padding:3px;
    text-align:center;
    font-weight:bold;
}
.p-old-price
{

}
.p-view
{
    margin:10px 0;
    display:none;
}
footer
{
    margin-top:20px;
}